<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :person_name %>
  </div>

  <div class="field">
    <%= form.label :linkedIn_id %>
    <%= form.number_field :linkedIn_id, id: :person_linkedIn_id %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :person_last_name %>
  </div>

  <div class="field">
    <%= form.label :born_date %>
    <%= form.date_select :born_date, id: :person_born_date %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :person_phone %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :person_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
