<%= form_with(model: @company, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>
    <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :company_description %>
  </div>
    <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area, id: :company_area %>
  </div>
    <div class="field">
    <%= form.label :web %>
    <%= form.text_field :name, id: :company_web %>
  </div>
    <div class="field">
    <%= form.label :linkind_id %>
    <%= form.text_field :name, id: :company_linkind_id %>
  </div>
    <div class="field">
    <%= form.label :size %>
    <%= form.number_field :name, id: :company_size %>
  </div>
    <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :company_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <%= link_to 'Volver', companies_path %>
<% end %>
