<div class="col col-12 justify-content-center m-5">
  <h3>Compa単ias</h3>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%">
      <thead >
      <tr>
        <th>Empresa</th>
        <th>Tama単o</th>
        <th>Pais</th>
        <th>Area</th>
        <th>Web</th>
        <th>LinkedIn</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Empresa</th>
        <th>Tama単o</th>
        <th>Pais</th>
        <th>Area</th>
        <th>Web</th>
        <th>LinkedIn</th>
        <th>Email</th>
        <th></th>
      </tr>
      </tfoot>
      <tbody>
        <% @companies&.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.size %></td>
            <td><%= company.country %></td>
            <td><%= company.area %></td>
            <td><%= link_to company.web, "http://#{company.web}" %></td>
            <td><%= company.linkeind_id %></td>
            <td><%= company.email %></td>
            <td><%= link_to 'Show', company %></td>
            <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <div class="box-footer">
    <%= link_to 'Crear', new_company_path, class: "btn btn-default pull-right" %>
     <%= link_to 'Volver', welcome_index_path, class: "btn btn-default pull-right" %>
  </div>

  <!-- /.box-body -->
</div>
</div>
</div>
<% content_for :title do 'Compa単ias' end %>

  
  
  
  
